# Content Based Filtering Using TF-IDF

#Info on TFIDF
https://www.geeksforgeeks.org/understanding-tf-idf-term-frequency-inverse-document-frequency/

![title](https://mungingdata.files.wordpress.com/2017/11/equation.png)

In [2]:
# Import Pandas
import pandas as pd

# Load Movies Metadata
metadata = pd.read_csv('dataset/movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata2 = metadata.head(3000)


metadata2

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34760,tt0090556,en,"'night, Mother",It happened in 1983. It was a rare and remarka...,...,1986-09-12,442000.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"'night, Mother",False,5.8,6.0
2996,False,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",http://www.end-of-days.com/,9946,tt0146675,en,End of Days,"On December 28th, 1999, the citizens of New Yo...",...,1999-11-24,211989043.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Prepare for the end.,End of Days,False,5.5,488.0
2997,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",90000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story-2,863,tt0120363,en,Toy Story 2,"Andy heads off to Cowboy Camp, leaving his toy...",...,1999-10-30,497366869.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The toys are back!,Toy Story 2,False,7.3,3914.0
2998,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31582,tt0155711,en,Flawless,An ultraconservative police officer suffers a ...,...,1999-11-26,4488529.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Flawless,False,5.9,56.0
2999,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,125520,tt0189744,en,Miss Julie,A footman seduces a count's daughter. Adaptati...,...,1999-09-12,0.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Worlds apart... bound by desire.,Miss Julie,False,6.3,3.0

In [3]:
metadata.shape

(45466, 24)

In [41]:
#Print plot overviews of the first 5 movies.
metadata2['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [25]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
metadata2['overview'] = metadata2['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata2['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

<ipython-input-25-8c4e698f792e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata2['overview'] = metadata2['overview'].fillna('')

(3000, 17186)

In [42]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[3000:3010]

['clips',
 'clique',
 'cliques',
 'cloak',
 'clock',
 'clocks',
 'clone',
 'clones',
 'cloning',
 'clooney']

!['title'](https://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1590782185/cos_aalkpq.png)

Since you have used the TF-IDF vectorizer, calculating the dot product between each vector will directly give you the cosine similarity score. Therefore, you will use sklearn's linear_kernel() instead of cosine_similarities() since it is faster.

In [34]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [43]:
cosine_sim.shape

(3000, 3000)

In [44]:
cosine_sim[1]

array([0.01790045, 1.        , 0.04594867, ..., 0.        , 0.03100063,
       0.        ])

In [46]:
metadata2.index

RangeIndex(start=0, stop=3000, step=1)

In [49]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(metadata2.index, index=metadata2['title']).drop_duplicates()

In [50]:
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [51]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata2['title'].iloc[movie_indices]

In [52]:
get_recommendations('Batman')

1491                      Batman & Robin
1328                      Batman Returns
150                       Batman Forever
2010                   Maximum Overdrive
1601               Chairman of the Board
1912                                Dune
1678                           B. Monkey
2019                            Safe Men
1869    Friday the 13th: A New Beginning
956                 The Pompatus of Love
Name: title, dtype: object

## Credits, Genres, and Keywords Based Recommender
The quality of your recommender would be increased with the usage of better metadata and by capturing more of the finer details. That is precisely what you are going to do in this section. You will build a recommender system based on the following metadata: the 3 top actors, the director, related genres, and the movie plot keywords.

The keywords, cast, and crew data are not available in your current dataset, so the first step would be to load and merge them into your main DataFrame metadata.

In [72]:
# Load keywords and credits
credits = pd.read_csv('dataset/credits.csv')
keywords = pd.read_csv('dataset/keywords.csv')

In [73]:
# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata2['id'] = metadata2['id'].astype('int')

<ipython-input-73-42c5e50ef2dc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata2['id'] = metadata2['id'].astype('int')

In [74]:
# Merge keywords and credits into your main metadata dataframe
metadata2 = metadata2.merge(credits, on='id')
metadata2 = metadata2.merge(keywords, on='id')

In [76]:
# Print the first two movies of your newly merged metadata
metadata2.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [77]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata2[feature] = metadata2[feature].apply(literal_eval)

In [79]:
# Import Numpy
import numpy as np

In [80]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [81]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [82]:
# Define new director, cast, genres and keywords features that are in a suitable form.
metadata2['director'] = metadata2['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata2[feature] = metadata2[feature].apply(get_list)

In [84]:
# Print the new features of the first 3 films
metadata2[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"

In [85]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [87]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata2[feature] = metadata2[feature].apply(clean_data)

In [88]:
#combine different features

In [89]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [90]:
# Create a new soup feature
metadata2['soup'] = metadata2.apply(create_soup, axis=1)

In [91]:
metadata2[['soup']].head(2)

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

In [92]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata2['soup'])

In [93]:
count_matrix.shape

(3015, 8539)

In [94]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [95]:
get_recommendations('Batman', cosine_sim2)

1341    Batman Returns
1503    Batman & Robin
150     Batman Forever
1355     Mars Attacks!
2538          Superman
2539       Superman II
1614     Sliding Doors
377               Wolf
2077       Beetlejuice
43       Mortal Kombat
Name: title, dtype: object